<div class="navbar is-dark">

    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/logo.jpg">
        </a>
    </div>
    
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item"> Home </a>
            <a class="navbar-item" routerLink ="/registration" > Registeration </a>
            <a class="navbar-item" routerLink ="/aircraftslist" >Air Crafts </a>
        </div>
    </div>
    
</div>
<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">

            <p class="title">
                AIR CRAFT !
            </p>
            <p class="title" style="color: black;">
                The project is about registrationof new Air Crafts and getting all registered Air Crafts by using GET, POST and Delete
            </p>

        </div>
    </div>
</section>    